body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.radio
{
    background: url('./img/radio.png');
    width: 670px;
    height: 185px;
    position: relative;
    margin: auto;
    top: 40%;
    display: none;
    cursor: move;
}

.left
{
    width: 160px;
    height: 170px;
    float: left;
    margin-top: 15px;
    cursor: default;
}

.mid
{
    width: 350px;
    height: 170px;
    float: left;
    margin-top: 15px;
    cursor: default;
}

.right
{
    width: 160px;
    height: 170px;
    float: right;
    margin-top: 15px;
    cursor: default;
}

.left .closeBtn
{   
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 42px;
    margin-left: 51px;
    cursor: pointer;
}

.left .closeBtn:hover
{
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.8);
}

.mid .url
{
    background: none;
    border: none;
    width: 275px;
    margin-top: 33px;
    margin-left: 31px;
    cursor: text;
    color: rgba(255, 255, 255, 0.726);
    font-size: 12px;
}

.mid .url:hover
{
    cursor: text;
}

.mid .info
{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 30px;
    margin-left: 230px;
    font-size: 11px;
    color: #000000ab;
}

.mid .loopinfo
{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 30px;
    margin-left: 210px;
    font-size: 11px;
    color: #000000ab;
}

.mid .volumeinfo
{
    position: absolute;
    margin-top: 30px;
    margin-left: 245px;
    font-size: 11px;
    color: #000000ab;
}

.mid .volumeUP
{
    position: absolute;
    margin-top: 76px;
    margin-left: 13px;
    width: 71px;
    height: 11px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 9px;
    padding-top: 2px;
    border-radius: 1px;
    cursor: pointer;
}

.mid .volumeUP:hover
{
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.8);
}

.mid .volumeDOWN
{
    position: absolute;
    margin-top: 76px;
    margin-left: 93px;
    width: 71px;
    height: 11px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 9px;
    padding-top: 2px;
    border-radius: 1px;
    cursor: pointer;
}

.mid .volumeDOWN:hover
{
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.8);
}

.mid .play
{
    position: absolute;
    margin-top: 76px;
    margin-left: 173px;
    width: 71px;
    height: 11px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 9px;
    padding-top: 2px;
    border-radius: 1px;
    cursor: pointer;
}

.mid .play:hover
{
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.8);
}

.mid .destroy
{
    position: absolute;
    margin-top: 76px;
    margin-left: 254px;
    width: 71px;
    height: 11px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 9px;
    padding-top: 2px;
    border-radius: 1px;
    cursor: pointer;
}

.mid .destroy:hover
{
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.8);
}

.mid .soundname
{   
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    width: 301px;
    height: 24px;
    background: none;
    margin-left: 14px;
    margin-top: 26px;
    padding: 5px 5 12px 5;
    color: #000000ab;
    font-size: 14px;
}

.right .loopBtn
{   
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 42px;
    margin-left: 35px;
    cursor: pointer;
}

.right .loopBtn:hover
{
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.8);
}